/* --------------------------------------------------------------------
 *
 * chimieclg > Horloge CSS
 *
 * --------------------------------------------------------------------
 *
 * v2 - css inline
 *
 * -------------------------------------------------------------------- */

#horloge {
}

#horloge-parametres {
}
